.row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
  overflow: visible;
}

@media (max-width: 900px) {
  .row {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
